name: Experimental cross build CLI tools

on:
  push:
    branches:
        - crossbuild

jobs:
  build-cross:
    runs-on: ubuntu-latest
    steps:
    - name: test
      run: |
          sudo sh -c 'for arch in i386 armel armhf; do dpkg --add-architecture $arch;done'
          dpkg --print-foreign-architectures
          sudo apt-get update
          apt-config dump |grep -i arch
