name: Experimental cross build CLI tools

on:
  push:
    branches:
        - crossbuild

jobs:
  build-cross:
    strategy:
      matrix:
        arch: [ i386, armel, armhf ]
    runs-on: ubuntu-latest
    container: debian:buster
    steps:
    - uses: actions/checkout@v2

    - name: set up cross env
      run: |
          dpkg --add-architecture ${{ matrix.arch }}
          apt-get update || true
          apt-get install -y make libusb-dev:${{ matrix.arch }}
          make CC="gcc -m${{ matrix.arch }}"
